

<html>
    <head>
        <title>Luke's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Luke's Blog</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
             <p>published: 14.06.2014, 12:14</p>
            <p>Hi, I'm Luke. Welcome to my small blog website!</p>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
            <p>published: 14.06.2014, 12:14</p>
            <p>I'm fifteen and curently at work experience in adastrial park/ BTTV.</p>
        </div>
    </body>
</html>
